@model ApplicationCore.Models.MovieCardModel

<div class="col-xl-2 col-lg-3 col-md-4 col-6">
    <a asp-controller="Movies" asp-action="MovieDetails" asp-route-id="@Model.Id">
        <img src="@Model.PosterURL" alt="@Model.Title" class="img-fluid" />
    </a>
</div>